**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.github
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
docs/
app/.*
!app/.env
app/bin/*
!app/bin/console
app/var/
app/vendor/
app/tests/
app/depfile.yaml
app/phpstan.neon
app/phpunit.xml
app/phpunit.xml.dist
app/psalm.xml
